#particles-js{
  background:#17f2aa;
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.galleryselect{
  display: inline-block;
  padding-bottom: 10%;
  position:absolute;
}

.galleryselect img{
  max-width:200px;
  max-height:200px;
  height: 13vw;
  width: 13vw;
  display:block;
  margin:0 auto;
  position:relative;
}

.galleryselect a{
  text-decoration:none;
  list-style:none;
}

.galleryselect p{
  margin:0;
  padding-top:10px;
  text-align:center;
}

#lukasbutton{
  display:inline-block;
  max-width:200px;
  max-height:200px;
  height: 13vw;
  width: 13vw;
  margin: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #b9b9b9;
  transition: box-shadow 0.3s;
  }
#lukasbutton:hover{
  box-shadow: 0 0 0 7px #ffcb71;
}
#lukastext{
  opacity:0;
  transition:opacity 0.3s linear;
  position:relative;
  align-items:center;
  color:#292929;
}
#lukasbutton:hover #lukastext{
  transition:opacity 0.3s linear;
  opacity:1;
  position:relative;
  bottom:0px;
  left:0px;
  color:#292929;
}

#peterjrbutton{
  display:inline-block;
  max-width:200px;
  max-height:200px;
  height: 13vw;
  width: 13vw;
  margin: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #b9b9b9;
  transition: box-shadow 0.3s;
  }
#peterjrbutton:hover{
  box-shadow: 0 0 0 7px #ff6e6e;
}
#peterjrtext{
  opacity:0;
  transition:opacity 0.3s linear;
  align-items:center;
  color:#292929;
}
#peterjrbutton:hover #peterjrtext{
  transition:opacity 0.3s linear;
  opacity:1;
  position:relative;
  color:#292929;
}
#slavomirabutton{
  display:inline-block;
  max-width:200px;
  max-height:200px;
  height: 13vw;
  width: 13vw;
  margin: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #b9b9b9;
  transition: box-shadow 0.3s;
}
#slavomirabutton:hover{
  box-shadow: 0 0 0 7px #6ed6fc;
}
#slavomiratext{
  opacity:0;
  transition:opacity 0.3s linear;
  align-items:center;
  color:#292929;
}
#slavomirabutton:hover #slavomiratext{
  transition:opacity 0.3s linear;
  opacity:1;
  position:relative;
  color:#292929;
}

#peterbutton{
  display:inline-block;
  max-width:200px;
  max-height:200px;
  height: 13vw;
  width: 13vw;
  margin: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #b9b9b9;
  transition: box-shadow 0.3s;
}
#peterbutton:hover{
  box-shadow: 0 0 0 7px #b56efc;
}
#petertext{
  opacity:0;
  transition:opacity 0.3s linear;
  align-items:center;
  color:#292929;
}
#peterbutton:hover #petertext{
  transition:opacity 0.3s linear;
  opacity:1;
  position:relative;
  color:#292929;
}

@media(max-width:568px){
    #particles-js{
      visibility:hidden;
    }
  }
