.header1{
  background-color:#fac232;
  max-height:100px;
}

.header2, .header-lukas, .header-peterjr, .header-slavomira, .header-peter{
  background-color:#292929;
  max-height:100px;
}

header::after{
  content:"";
  display:table;
  clear:both;
}

.navbar{
  width:80%;
  margin:0 auto;
}

#mainlogo{
  max-width:210px;
  max-height:100px;
  width:auto;
  height:auto;
  float:left;
  padding:5px 0;
}

#gallerylogo{
  max-width:210px;
  max-height:100px;
  width:auto;
  height:auto;
  float:left;
  padding:5px 0;
}

#gallerylogo path{
  fill: #17f2aa !important;
}

#lukaslogo{
  max-width:210px;
  max-height:100px;
  width:auto;
  height:auto;
  float:left;
  padding:5px 0;
}

#lukaslogo path{
  fill: #ffcb71 !important;
}

#peterjrlogo{
  max-width:210px;
  max-height:100px;
  width:auto;
  height:auto;
  float:left;
  padding:5px 0;
}

#peterjrlogo path{
  fill: #ff6262 !important;
}

#slavomiralogo{
  max-width:210px;
  max-height:100px;
  width:auto;
  height:auto;
  float:left;
  padding:5px 0;
}

#slavomiralogo path{
  fill: #62f6ff !important;
}

#peterlogo{
  max-width:210px;
  max-height:100px;
  width:auto;
  height:auto;
  float:left;
  padding:5px 0;
}

#peterlogo path{
  fill: #c065ff !important;
}

nav{
  float:right;
}

.navbar-nav{
  margin:0;
  padding:0;
  list-style:none;
}

.navbar-nav li{
  display:inline-block;
  margin-left:55px;
  padding-top:35px;
}

.navbar-nav li a{
  color:#111;
  text-decoration:none;
  text-transform:uppercase;
}

.navbar-nav li a:hover{
  color:#fff;
}

.navbar-nav2{
  margin:0;
  padding:0;
  list-style:none;
}

.navbar-nav2 li{
  display:inline-block;
  margin-left:55px;
  padding-top:35px;
}
.navbar-nav2 li a{
  color:#00ffb3;
  text-decoration:none;
  text-transform:uppercase;
}

.navbar-nav2 li a:hover{
  color:#fff;
}

.navbar-nav-lukas{
  margin:0;
  padding:0;
  list-style:none;
}

.navbar-nav-lukas li{
  display:inline-block;
  margin-left:55px;
  padding-top:35px;
}

.navbar-nav-lukas li a{
  color:#ffcb71;
  text-decoration:none;
  text-transform:uppercase;
}

.navbar-nav-lukas li a:hover{
  color:#fff;
}

.navbar-nav-peterjr{
  margin:0;
  padding:0;
  list-style:none;
}

.navbar-nav-peterjr li{
  display:inline-block;
  margin-left:55px;
  padding-top:35px;
}

.navbar-nav-peterjr li a{
  color:#ff6262;
  text-decoration:none;
  text-transform:uppercase;
}

.navbar-nav-peterjr li a:hover{
  color:#fff;
}

.navbar-nav-slavomira{
  margin:0;
  padding:0;
  list-style:none;
}

.navbar-nav-slavomira li{
  display:inline-block;
  margin-left:55px;
  padding-top:35px;
}

.navbar-nav-slavomira li a{
  color:#62f6ff;
  text-decoration:none;
  text-transform:uppercase;
}

.navbar-nav-slavomira li a:hover{
  color:#fff;
}

.navbar-nav-peter{
  margin:0;
  padding:0;
  list-style:none;
}

.navbar-nav-peter li{
  display:inline-block;
  margin-left:55px;
  padding-top:35px;
}

.navbar-nav-peter li a{
  color:#c065ff;
  text-decoration:none;
  text-transform:uppercase;
}

.navbar-nav-peter li a:hover{
  color:#fff;
}

.openbutton{
  overflow:hidden;
}

.openbutton a{
  float:right;
  padding-top: 30px;
  display:block;
  text-align:center;
}

.openbutton ul{
  margin:8px 0px 0px 0px;
  list-style:none;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  right:0;
  background-color:#f4f4f4;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  color:#111;
  display:block;
  transition:0.3s;
}
.side-nav a:hover{
  color:#fff;
}
.side-nav .closebutton{
  position:absolute;
  top:0;
  left:22;
  font-size:36px;
  margin-right:50px;
}

@media(max-width:1150px){
  .navbar-nav{
    visibility:hidden;
  }
}

@media(max-width:1150px){
  .navbar-nav2{
    visibility:hidden;
  }
}

@media(min-width:1150px){
  .open-slide, .side-nav, .closebutton, .openbutton{
    visibility:hidden;
  }
}
