body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Quicksand", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  }

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;

}

  .pimg1{
    background-image:url("../images/lofinko.jpg");
    min-height: 60%;
  }
  .pimg2{
    background-image:url("../images/lukasslide.png");
    min-height: 100%;
  }
  .pimg3{
    background-image:url("../images/lukasbozk.png");
    min-height:100%
  }

  .section{
    text-align:center;
    padding:50px 80px;
  }

  .section-light{
    background-color:#f4f4f4;
    color:#666;
  }

  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }

  .ptext{
    position: absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }

  .ptext .border.trans{
    background-color:transparent;
  }

  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }

header {
  background-color:#ffb26d;
}

header::after{
  content:"";
  display:table;
  clear:both;
}

.navbar{
  width:80%;
  margin:0 auto;
}

.logo{
  max-width:210px;
  max-height:100px;
  width:auto;
  height:auto;
  float:left;
  padding:10px 0;
  
}

nav{
  float:right;
}

nav ul{
  margin:0;
  padding:0;
  list-style:none;
}

nav ul li{
  display:inline-block;
  margin-left:55px;
  padding-top:35px;
}

nav ul li a{
  color:#111;
  text-decoration:none;
  text-transform:uppercase;
}

nav ul li a:hover{
  color:#fff;
}
