@font-face {
    font-family: "Coolvetica";
    src: url(".resources/fonts/coolvetica_rg.ttf");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

#header {
  background-color: #e0a1fc;
  font-size: 20px;
  font-family: "Coolvetica";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  text-align: center;
  }
